<div class="reset">
  <div class="auth-toolbar">
    <app-theme-toggle />
    <app-language-switcher />
  </div>

  <div class="reset__card auth-card">
    <h1 class="reset__title">{{ 'auth.resetTitle' | translate }}</h1>

    @if (!hasToken) {
      <p class="reset__message">{{ 'auth.resetMissingToken' | translate }}</p>
      <a class="reset__link" routerLink="/login">{{ 'auth.backToLogin' | translate }}</a>
    } @else {
      <form class="reset__form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="field">
          <label class="reset__label" for="new-password">{{ 'auth.newPassword' | translate }}</label>
          <input id="new-password" class="text-input" type="password" formControlName="newPassword" autocomplete="new-password" />
          <app-password-rules [value]="f.newPassword.value" />
        </div>

        <div class="field">
          <label class="reset__label" for="repeat-new-password">{{ 'auth.repeatNewPassword' | translate }}</label>
          <input id="repeat-new-password" class="text-input" type="password" formControlName="repeatNewPassword" autocomplete="new-password" />
          @if (f.repeatNewPassword.touched && form.hasError('passwordsMismatch')) {
            <p class="reset__error-text">{{ 'validation.passwordsMismatch' | translate }}</p>
          }
        </div>

        @if (errorText()) {
          <p class="reset__error">{{ errorText() }}</p>
        }

        <button type="submit" class="reset__submit" [disabled]="submitting()">{{ 'auth.save' | translate }}</button>
        <a class="reset__link" routerLink="/login">{{ 'auth.backToLogin' | translate }}</a>
      </form>
    }
  </div>
</div>
