<app-modal variant="auth" [title]="'changePassword.title' | translate" (close)="close.emit()">
  <form class="cp" [formGroup]="form" (ngSubmit)="submit()">
    <div class="field">
      <label class="cp__label" for="cp-current">{{ 'changePassword.currentPassword' | translate }}:</label>
      <input id="cp-current" class="text-input" type="password" formControlName="currentPassword" autocomplete="current-password" />
    </div>

    <div class="field">
      <label class="cp__label" for="cp-new">{{ 'changePassword.newPassword' | translate }}:</label>
      <input id="cp-new" class="text-input" type="password" formControlName="newPassword" autocomplete="new-password" />
      <app-password-rules [value]="f.newPassword.value" />
    </div>

    <div class="field">
      <label class="cp__label" for="cp-repeat">{{ 'changePassword.repeatNewPassword' | translate }}:</label>
      <input id="cp-repeat" class="text-input" type="password" formControlName="repeatNewPassword" autocomplete="new-password" />
      @if (f.repeatNewPassword.touched && form.hasError('passwordsMismatch')) {
        <p class="cp__error-text">{{ 'validation.passwordsMismatch' | translate }}</p>
      }
    </div>

    @if (errorText()) {
      <p class="cp__error">{{ errorText() }}</p>
    }

    <button type="submit" class="cp__submit" [disabled]="submitting()">{{ 'changePassword.save' | translate }}</button>
  </form>
</app-modal>
